<div class="container-fluid">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Input</th>
        <th>Language</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evidence of evidencePage()">
        <td>{{evidence.input.name}}</td>
        <td>{{evidence.language}}</td>
        <td>{{evidence.keywords | join: ', '}}</td>
      </tr>
    </tbody>
  </table>

  
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="evidences?.length" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(value)]="pageSize">
      <option value="10">10 items per page</option>
      <option value="30">30 items per page</option>
      <option value="100">100 items per page</option>
    </select>
  </div>
</div>
